.img {
    height: 200px;
    width: 200px;
}

@media (min-width:992px) and (max-width:1199px) {
    .titleicon {
        width: 50%;
    }
}



@media (min-width:768px) and (max-width:991px) {
    .titleicon {
        width: 60%;
    }
}

@media (max-width:767px) {
    .titleicon {
        width: 50%;
    }
}

@media (max-width:420px) {
    .titleicon {
        width: 50%;
    }
}