.map-section {
    margin-top: 30px;
    position: relative;
    padding: 0;
    padding-bottom: 0;
}

.map-section .container-fluid.map-box {
    padding-left: 0px;
    position: relative;
    padding-right: 0px;
}

.map-section:before {
    background: url(../assests/Images/map-top.png);
    content: "";
    background-position: top;
    top: -100px;
    background-size: cover;
    width: 100%;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
}