.service-content-box {
    background-color: #fff;
}

.service-content-box .item {
    position: relative;
    overflow: hidden;
}

.service-content-details {
    padding: 20px;
    position: relative;
}

.service-content-box .item img {
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-filter: brightness(100%);
}

.service-content-box img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

img {
    vertical-align: middle;
    border-style: none;
}

.service-content-details p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #000;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.service-content-details h5 {
    font-size: 20px;
    font-style: normal;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 26px;
    color: #000;
}